* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .content {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .header_logo img {
  width: 80px;
  height: 40px;
}
header .content .header_nav {
  align-items: center;
}
header .content .header_nav ul {
  margin: 0;
  padding: 0;
}
header .content .header_nav ul li {
  display: inline-block;
  padding: 0 10px;
}
header .content .header_nav ul li:hover a {
  color: gray;
  text-decoration: underline;
}
header .content .header_nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
header .content .header_search_account {
  display: flex;
  align-items: center;
}
header .content .header_search_account .search .mb-3 {
  margin-top: 16px;
}
header .content .header_search_account .search .mb-3 input {
  border-radius: 20px;
  border: 1px solid #000;
}
header .content .header_search_account .cart {
  margin: 0 20px;
}
header .content .header_search_account .cart i {
  font-size: 25px;
  color: #000;
}
header .content .header_search_account .account i {
  font-size: 25px;
  color: #000;
}

.display .showDetailProduct #detail .detailProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display .showDetailProduct #detail .detailProduct .info .h2_name {
  font-size: 30px;
}
.display .showDetailProduct #detail .detailProduct .info p {
  font-size: 20px;
}
.display .showDetailProduct #detail .detailProduct .info h3 {
  color: rgb(152, 205, 28);
}
.display .showDetailProduct #detail .detailProduct .info ul {
  padding: 0;
}
.display .showDetailProduct #detail .detailProduct .info ul li {
  list-style: none;
  display: inline-block;
  background-color: gray;
  padding: 8px 12px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}
.display .showDetailProduct #detail .detailProduct .info .h2_price {
  color: red;
  font-weight: 800;
}
.display .display_product #product {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 35px;
  justify-content: center;
}
.display .display_product #product .item {
  padding: 10px;
  border: 2px solid rgb(231, 225, 225);
  border-radius: 10px;
  transition: all 0.5s;
}
.display .display_product #product .item .img {
  text-align: center;
}
.display .display_product #product .item .info {
  text-align: center;
  font-size: 15px;
}
.display .display_product #product .item .info button a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.display .display_product #product .item:hover {
  cursor: pointer;
  border: 2px solid #d11414;
  scale: 102%;
}

footer {
  margin-top: 80px;
  background-color: #000;
  padding-top: 50px;
  color: gray;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content .content_1 ul, footer .content .content_2 ul, footer .content .content_3 ul {
  list-style: none;
  padding: 0;
}
footer .content .content_1 ul li, footer .content .content_2 ul li, footer .content .content_3 ul li {
  margin-bottom: 10px;
}
footer .content .content_1 ul li:first-child, footer .content .content_2 ul li:first-child, footer .content .content_3 ul li:first-child {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
footer .about {
  display: flex;
  justify-content: space-between;
}
footer .about .located {
  margin-right: 10px;
}
footer .about .located .span_located {
  color: #fff;
  padding: 0 5px;
}
footer .about .info ul li {
  display: inline-block;
  padding: 10px;
  color: white;
}/*# sourceMappingURL=detail.css.map */